
/*===================
    TAG SELECTORS
===================*/

audio::-webkit-media-controls-panel {
  background-color: transparent;
}

audio::-webkit-media-controls {
  -webkit-filter: contrast(500%);
}

body, html {
  background: rgb(44, 62, 80);
  box-sizing: border-box;
  /* color: snow; */
  height: 100vh;
  font-family: 'Cabin Sketch', cursive;
}

h1, h2 {
  font-family: 'Frijole', cursive;
}

h2 {
  text-shadow: 0 0 3px snow;  
}

table {
  border-spacing: 0;
  border: thin groove rgb(133, 155, 177);
  margin: 0 auto;
  margin-bottom: 5em;
}

td:nth-child(3) {
  text-align: center;
}

th {
  background-color: black;
  color: snow;
  font-family: 'Frijole', cursive;
  font-size: 0.8em;
}

th, td {
  padding: 0.5em;
  text-align: left;
}

tr:nth-child(even) {
  color: snow;
}

tr:nth-child(odd) {
  background-color: rgb(133, 155, 177);
}

/*=====================
    CLASS SELECTORS
=====================*/

.btn-box {
  background-color: black;
  border: thin outset black;
  border-radius: 4px;
  box-shadow: 0 0 5px snow;
  color: snow;
  cursor: pointer;
  margin-left: 1em;
  padding: 0.5em;
}

.btn-box:hover {
  color: #859bb1;
  box-shadow: 0 0 5px rgb(44, 62, 80);  
}

.btn-large {
  align-items: center; 
  background-color: black;
  border: none;
  color: snow;
  cursor: pointer;
  display: flex;
  font-family: 'Frijole', cursive;
  font-size: 1.5em;
  height: 10vh;
  justify-content: center;
  margin: 0;
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.btn-large:hover {
  color: rgb(133, 155, 177);
}

.col-center {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.center {
  text-align: center;
}

.container {
  position: relative;
  height: 80vh;
  width: 100vw;
}

.disabled-btn {
  pointer-events: none;
  color: black;  
}

.disabled-link {
  pointer-events: none;
  color: rgb(133, 155, 177);  
}

.gameContainer {
  align-items: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  line-height: 1em;
  top: 0;
  width: 49vw;
}

.guess {
  font-size: 2em;
}

.hidden {
  visibility: hidden;
}

.highlight {
  color: rgb(243, 77, 77);
  text-shadow: 1px 1px 5px black;
}

.instructions {
  font-size: 1.5em;
  line-height: 1.75em;
}

.media-player {
  align-items: center;
  background-color: rgba(133, 155, 177, 0.5);
  bottom: 11vh;
  border: 5px outset black;
  border-radius: 5px;
  box-shadow: 0 0 5px snow;  
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 5%;
}

.media-player a, .media-player a:visited {
  color: snow;
  text-decoration: none;
  text-shadow: 1px 1px 5px black;
}

.media-player a:hover {
  color: rgb(133, 155, 177);
  text-decoration: none;
  text-shadow: 1px 1px 5px black;
}

.msg-box {
  justify-content: center;
  align-items: center;
  background-color: rgb(133, 155, 177);
  border: 5px outset black;
  border-radius: 10px;
  box-shadow: 0 0 5px snow;
  display: flex;
  flex-direction: column;
  height: 20vh;
  left: 30vw;
  padding: 1em;
  position: fixed;
  top: 35vh;
  width: 40vw;
  z-index: 900;
}

.msg-box h2, .msg-box h3 {
  margin-top: 0;
  text-shadow: none;
}

.navBar{
  background-color: black;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center; 
  position: relative;
  width: 100vw;
  z-index: 1000;
}

.navBar a {
  color: snow;
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 0.5em;
  text-decoration: none;
}

.navBar a:hover {
  color: #859bb1;
}

.pointer {
  cursor: pointer;
}

.row {
  margin: 0;
  position: relative;
  width: 100%;
}

.snowmanContainer {
  height: 70vh;
  width: 49vw;
  position: relative;
}

.snowWhite {
  color: snow;
  text-shadow: 1px 1px 5px black;  
}

.title {
  height: 10vh;
}

.title h1 {
  margin: 0;
  padding: 0.1em;
  text-align: center;
  text-shadow: 0 0 3px snow;  
}

/*====================================================================
    SNOWMAN COMPOSITION
    adapted from https://codepen.io/alikhalilifar/pen/CcHqg?page=1
====================================================================*/
 
.arm__left {
  position: absolute;
  top: 170px;
  right: 200px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  transform: rotate(15deg);
  border-bottom: 6px solid rgba(151, 102, 13, 1);
  border-left: 2px solid transparent;
  border-right: 0 solid transparent;
  height: 0;
  width: 36px;
}

.arm__left:before {
  width: 81px;
  left: -82px;
  position: absolute;
  content: "";
  display: inline-block;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  transform: rotate(-12deg);
  top: 8px;
  border-bottom: 7px solid rgba(128, 84, 6, 1);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  height: 0;
  z-index:30;
}
.arm__left:after {
  width: 47px;
  left: -88px;
  position: absolute;
  content: "";
  display: inline-block;
  -webkit-transform: rotate(17deg);
  -moz-transform: rotate(17deg);
  transform: rotate(17deg);
  top: 3px;
  border-bottom: 4px solid rgba(128, 84, 6, 1);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  height: 0;
  border-radius: 20px 50% 10% 20%;
}

.arm__right {
  position: absolute;
  top: 170px;
  right: 40px;
  -webkit-transform: rotate(-12deg);
  -moz-transform: rotate(-12deg);
  transform: rotate(-12deg);
  border-bottom: 6px solid rgba(151, 102, 13, 1);
  border-right: 2px solid transparent;
  border-left: 0 solid transparent;
  height: 0;
  width: 66px;
}
.arm__right:before {
  width: 80px;
  right: -82px;
  position: absolute;
  content: "";
  display: inline-block;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  transform: rotate(10deg);
  top: 7px;
  border-bottom: 6px solid rgba(128, 84, 6, 1);
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  height: 0;
  z-index: 30;
}

.arm__right:after {
  width: 47px;
  right: -47px;
  position: absolute;
  content: "";
  display: inline-block;
  -webkit-transform: rotate(-16deg);
  -moz-transform: rotate(-16deg);
  transform: rotate(-16deg);
  top: -6px;
  border-bottom: 4px solid rgba(128, 84, 6, 1);
  border-right: 3px solid transparent;
  border-lrgy: 3px solid transparent;
  height: 0;
  border-radius: 20px 50% 10% 20%;
}

.body {
  background: snow;
  border-radius: 50%;  
}

.body--top {
  width: 130px;
  height: 130px;
  box-shadow: -7px -5px 0px rgba(0,0,0,0.1) inset;
  position: absolute;
  top: 140px;
  right: 90px;
  z-index: 50;
}

.body--bottom {
  box-shadow: -13px -8px 0px rgba(0,0,0,0.1) inset;
  height: 170px;
  width: 170px;
  position: absolute;
  right: 65px;
  top: 240px;
  z-index: 20;
}

.body__button--top {
  height: 10px;
  width: 10px;
  background: rgb(44, 62, 80);
  position: absolute;
  border-radius: 50%;
  top: 30%;
  left: 30%;
}

.body__button--middle {
  height: 8px;
  width: 8px;
  background: rgb(44, 62, 80);
  position: absolute;
  border-radius: 50%;
  left: 25%;
  top: 50%;
}

.body__button--bottom {
  height: 6px;
  width: 6px;
  background: rgb(44, 62, 80);
  position: absolute;
  border-radius: 50%;
  top: 70%;
  left: 30%;
}
  
.body__scarf {
  border-bottom: 21px solid rgb(243, 77, 77);
  border-left: 18px solid transparent;
  border-right: 29px solid transparent;
  height: 0;
  width: 55px;
  position: absolute;
  top: 0px;
  left: 16px;
  border-radius: 0px 100% 5px 10px;
}

.body__scarf:after {
  width: 74px;
  height: 17px;
  -webkit-transform: rotate(86deg);
  -moz-transform: rotate(86deg);
  transform: rotate(86deg);
  background: rgb(243, 77, 77);
  display: inline-block;
  content: "";
  position: absolute;
  top: 34px;
  left: 15px;
  border-radius: 50% 0% 50% 50%;
  box-shadow: -4px 0px rgba(0,0,0,0.1) inset;
}

.body--shadow {
  background: rgba(0,0,0,0.2);
  border-radius: 50%;
  width: 190px;
  height: 30px;
  position: absolute;
  top: 170px;
  right: -20px;
  z-index: 10;
}

.hat {
  top: 5px;
  right: 110px;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  transform: rotate(10deg);
  position: absolute;
  border-radius: 0;
  z-index: 30;
  border-top: 56px solid rgb(37, 37, 37);
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  height: 0;
  width: 40px;
  border-bottom: 27px solid rgb(243, 77, 77);
}

.head {
  width: 80px;
  height: 80px;
  background: snow;
  box-shadow: -5px 0px 0px rgba(0,0,0,0.1) inset;
  border-radius: 50%;
  position: absolute;
  top: 65px;
  right: 110px;
  z-index: 40;
}

.head__eye {
  width: 10px;
  height: 10px;
  top: 25%;
  border-radius: 50%;
  background: rgb(44, 62, 80);
  position: absolute;
}

.head__eye--left {
  left: 25%;
}

.head__eye--right {
  right: 40%;
}

.head__nose {
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 8px 41px 8px 0;
  border-color: transparent rgb(250, 154, 32) transparent transparent;
  position: absolute;
  bottom: 40%;
  right: 55%;
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  transform: rotate(10deg);
  box-shadow: 0px 43px rgba(0,0,0,0.2) inset;
  z-index:30;
}

/*========================================================
    SNOW ANIMATION
    adapted from https://codepen.io/NickyCDK/pen/AIonk
=========================================================*/

/* MAKE SNOW FILL PARENT CONTAINER */

.snow{
	background: none;
	background-image: url('./images/snow1.png'), url('./images/snow2.png'), url('./images/snow3.png');
	height: 100%;
	left: 0;
	position: relative;
	top: 0;
	width: 100%;
	z-index: 1;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}

/* MAKE BACKGROUND IMAGES MOVE */

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

/*============================
    MESSAGE BOX ANIMATIONS
============================*/

/* ANIMATE MESSAGE BOX */

.msg-box__animate {
  -webkit-animation: box-expand 0.5s linear 1;
  -moz-animation: box-expand 0.5s linear 1;
  -ms-animation: box-expand 0.5s linear 1;
  animation: box-expand 0.5s linear 1;
}

.msg-box__animate div {
  -moz-animation: text-appear 0.5s linear 1;
  -ms-animation: text-appear 0.5s linear 1;
  -webkit-animation: text-appear 0.5s linear 1;
  animation: text-appear 0.5s linear 1;
}

/* EXPAND MESSAGE BOX */

@keyframes box-expand {
  0% {height: 0;}
  100% {height: 20vh;}
}
@-moz-keyframes box-expand {
  0% {height: 0;}
  100% {height: 20vh;}
}
@-webkit-keyframes box-expand {
  0% {height: 0;}
  100% {height: 20vh;}
}
@-ms-keyframes box-expand {
  0% {height: 0;}
  100% {height: 20vh;}
}

/* SHOW MESSAGE */

@keyframes text-appear {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
@-moz-keyframes text-appear {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
@-webkit-keyframes text-appear {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}
@-ms-keyframes text-appear {
  0% {opacity: 0;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}